.RootDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(235, 235, 245);
  min-height: 100vh;
	font-size: 18px;
}

.StackedDiv {
  margin: 15px;
  max-width: 90%;
  display: flex;
  flex-direction: column;
  align: center;
  justify-content: center;
}

.CardDiv {
  background-color: white;
	padding: 15px;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

.ParentImg {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 15px;
}

.RoundImg {
	object-fit: contain;
	border-radius: 15px;
	max-height: 50vh;
	border-radius: 25px;
}

.Header {
	padding: 15px;
	font-size: 32px;
	text-align: center;
}

.GithubAvatar {
  height: 200px;
	border-radius: 15px 0px 0px 15px;
}

.GithubName {
	width: 100%;
	font-size: 24px;
	text-align: center;
}

.GitBanner {
  background-color: white;
	display: flex;
	flex-direction: row;
	width: 90%;
	border-radius: 15px;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.2);
}

