body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #555;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
}

#scrollToTopButton:hover {
  background-color: #777;
}
#scrollToTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px; /* Updated position to left */
  width: 40px;
  height: 40px;
  border: none;
  background-color: #555;
  color: white;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
}

#scrollToTopButton:hover {
  background-color: #777;
}
body {
  cursor: none;
}

.custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  background-image: url("https://raw.githubusercontent.com/kai9987kai/kai9987kai.github.io/master/cur.png");
  background-repeat: no-repeat;
  background-size: cover;
  pointer-events: none;
  z-index: 9999;
}

/* This will change the scrollbar for the whole page */
body::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

body::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scroll thumb */
  border-radius: 10px; /* Radius for the scroll thumb */
}

body::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scroll thumb on hover */
}

/* Make scrolling smooth */
html {
  scroll-behavior: smooth;
}
